<div class="content">

    <div >
        <form class="row">
            <div class="form-group col-lg-4 col-sm-4 col-xs-4">
                <input type="text" name="name" (keyup)="nameInput($event)" class="form-control" placeholder="Restaurant name">
            
            </div>
            <div class="form-group col-lg-4 col-sm-4 col-xs-4">
                <input type="text" name="city" (keyup)="cityInput($event)" class="form-control" placeholder="City">
            </div>

            <input type="button" value="Submit" (click)="create()" class="btn btn-success col-lg-2 col-sm-2 col-xs-2">
        </form>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Search" [(ngModel)]="searchText">
    </div>
    

    <div class="card">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-muted">Restaurant Name</th>
                <th class="text-muted">City</th>
                <th class="text-muted"></th>
            
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let restaurant of restaurants | filter:searchText">
                <td><b>{{restaurant.name}}</b></td>
                <td><b>{{restaurant.city}}</b></td>
                <td> <button class="btn btn-danger" (click)="delete(restaurant._id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
